<p>Bienvenido</p>
<div>
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

        <div>
          <label for="username">
            Username
          </label>
          <input id="username" type="text" formControlName="username">
        </div>
      
        <div>
          <label for="password">
            Password
          </label>
          <input id="password" type="password" formControlName="password">
        </div>
      
        <button class="button" type="submit">Ingresar</button>
      
      </form> 
</div>
